<div class="navbar-container">



  <% if @current_user %>
      <a href=“/”>Home</a>
      <a href=“/posts”>Feed</a>
      <a href=“/user/edit”>Account</a>
      <a href=“/user/profile”>My Profile</a>
      <a href=“/logout”>Log Out</a>
  <% end %>
</div>
