<form method="POST" action="/user/signup">
  <p>First Name: </p>
  <input type="text" name="firstname" value="" />
  <p>Last Name: </p>
  <input type="text" name="lastname" value="" />
  <p>Username: </p>
  <input type="text" name="username" value="" />
  <p>Password: </p>
  <input type="text" name="password" value="" />

  <input type="submit" name="submit" value="Submit" />
</form>
